<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>canava</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="/css/layout.css">
     <%- style %>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
</head>
<body>

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
   
       <%- body %> 

       <%- script %>

       <script>
       
        <% if( flash.success.length > 0){ %>
           new Noty({
               theme:'sunset',
               type: 'success',
               layout: 'topRight',
               timeout:1000,
               text: '<%= flash.success %>'
           }).show();
        <% } %>
        <% if( flash.error.length > 0){ %>
           new Noty({
               theme:'sunset',
               type: 'error',
               layout: 'topRight',
               timeout:1000,
               text: '<%= flash.error %>'
           }).show();
        <% } %>
       </script>

</body>
</html>
